name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  DEVELOPER_DIR: /Applications/Xcode_14.3.1.app

jobs:
  test:
    runs-on: macos-13
    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v3
      - name: Install Swift
        uses: slashmo/install-swift@v0.4.0
        with:
          version: swift-5.9-DEVELOPMENT-SNAPSHOT-2023-06-05-a
      - name: Build
        run: |
          export TOOLCHAINS=swift
          swift -version
          swift build
      - name: Run tests
        run: |
          swift -version
          swift test -Xswiftc -Xfrontend -Xswiftc -dump-macro-expansions --enable-code-coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: fail
          files: ./coverage_report.lcov
          verbose: true
